<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wmich.edu.lab3lhaspe0925">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".mediaplayerActivity"
            android:label="@string/title_activity_mediaplayer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SportsSoundsActivity" />
        <activity android:name=".ImageGridActivity" />
        <activity android:name=".ImgFullScreen" />
        <activity android:name=".WebBrowser" />
        <activity android:name=".PistonsWeb" />
        <activity android:name=".LionsWeb" />
        <activity android:name=".RedwingsWeb" />
        <activity android:name=".TigersWeb"></activity>
    </application>

</manifest>
